
/.vs/Assignment_One/FileContentIndex
/.vs/Assignment_One/v17
/.vs
/MediaPlayerBL/.vs
/MediaPlayerBL/obj
/MediaPlayerDA/.vs
/MediaPlayerDA/obj/Debug
/MediaPlayerDA/bin/Debug
/MediaPlayerBL/bin/Debug
/MediaPlayerFrontEnd/obj/Debug/net8.0-windows
/MediaPlayerFrontEnd/obj/Release/net8.0-windows
/MediaPlayerFrontEnd/bin/Debug/net8.0-windows
/MediaPlayerDA/obj/Release
/MediaPlayerFrontEnd/obj
/.gitignore
/MediaPlayerBL/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaStorage/obj/Debug/MediaDTO.csproj.AssemblyReference.cache
/MediaStorage/bin/Debug/MediaStorage.dll
/MediaStorage/bin/Debug/MediaStorage.pdb
/MediaStorage/obj/Debug/MediaStorage.dll
/MediaStorage/obj/Debug/MediaStorage.pdb
/MediaPlayerDA/Sample_Data/Media
/MediaStorage/obj
/MediaPlayerDA/obj
/allfiles.txt
