################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MediaPlayerBL/obj
/MediaPlayerDA/obj
/MediaPlayerFrontEnd/obj/Release/net8.0-windows
/MediaPlayerFrontEnd/obj/Debug/net8.0-windows
/MediaPlayerBL/.vs
/MediaPlayerDA/.vs
/MediaPlayerFrontEnd/bin/Debug/net8.0-windows
/MediaPlayerDA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayerDA/bin/Debug
/MediaPlayerFrontEnd/obj/Debug/net8.0-windows/MainWindow.g.i.cs
/MediaPlayerFrontEnd/obj/MediaPlayerPL.csproj.nuget.dgspec.json
/MediaPlayerFrontEnd/obj/project.assets.json
/MediaPlayerFrontEnd/obj/project.nuget.cache
/MediaPlayerBL/bin/Debug
/MediaPlayerDA/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MediaPlayerFrontEnd/obj/Debug/net8.0-windows/MainWindow.g.i.cs
